body {margin:2rem;}

.modal-dialog {
      max-width: 1000px;
      margin: 30px auto;
  }



.modal-body {
  position:relative;
  padding:0px;
}
.close {
  position:absolute;
  right:-30px;
  top:0;
  z-index:999;
  font-size:2rem;
  font-weight: normal;
  color:#fff;
  opacity:1;
}

#modaliaas #modalcaas #modaliservice #modalproject{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.carousel-indicators-numbers li {
    text-indent: 0;
    margin: 0 2px;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 100%;
    line-height: 30px;
    color: #fff;
    background-color: #999;
    transition: all 0.25s ease;
  }
  .carousel-indicators-numbers .active, .hover {
      margin: 0 2px;
      width: 30px;
      height: 30px;
      background-color: #337ab7;        
    }
.carousel-item{
  padding-bottom: 80px;
}